.layout{
    max-width: 900px;
    margin: 0px auto;
    max-height: 90vh;
    border-radius: 6px;
    padding: 80px 20px;
}

.toast-container{
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 100%;
}