.home{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    .content{
        color: #f4f4f4;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 100px;
    }

}

.loader{
    border-color: #1e90ff;
    border-right-color: transparent;
    background-color: transparent;
}

.filter-container{
    text-align: right;

    select{
        padding: 5px;
        border-radius: 5px;
        font-weight: 700;
        width: 200px;
        background-color: #0d0d0d;
        color: white;
        border-width: 2px;
        
        &:focus-visible{
            border-width: 2px;
        }
    }
}