.cart{
    max-width: 900px;
    margin: 0px auto;
    padding: 10px 20px;
    .cart-item{
        background-color: whitesmoke;
        border-radius: 5px;
        padding: 5px 10px;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .cart-item-content{
            flex: 1;
            .item-price{
                margin: 0;
                font-size: 12px;
            }
            .btn-group{
                border: 1px solid grey;
                button:nth-child(1){
                    border-right: 1px solid grey;
                }
                button:nth-child(3){
                    border-left: 1px solid grey;
                }
            }
        }
        
        
    }

    .cart-table{
        width: 100%;
        margin-bottom: 50px;
        color: #ffffff;
        thead{
            tr{
                color: black;
                background-color: #ffffff;
            }
        }
        tr{
            background-color: #272525;
            border: 1px solid #3a3838;
            td, th{
                padding: 5px;
                border: 1px solid grey;
                text-align: center;
            }
            .delete-cart-item{
                all: unset;
                margin: 0px 12px;
                color: #fa0000;
            }
        }
    }
    .cart-summary{
        width: 100%;
        margin-bottom: 50px;
        color: #ffffff;
        tr{
            td:nth-child(2){
                text-align: right;
            }
        }
    }
}

.checkout-btn{
    margin-top: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}